.header {
  font-family: "Comfortaa", Arial, Helvetica, sans-serif;
  background-color: var(--bg-primary);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  display: flex;
  width: 1280px;
}
.navbar_menu-container {
  width: 100%;
}
.navbar_menu {
  font-weight: 100;
  height: 100%;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  gap: var(--s-8);
  align-items: center;
  color: var(--text-primary);
}
.logo-box {
  padding-block: var(--s-4);
}
.menu-item {
  padding-block: var(--s-4);
  padding: var(--s-4);
  height: 100%;
  display: flex;
  align-items: center;
}
.menu-item_content {
  color: var(--text-primary);
}
.menu-item_content_active {
  color: var(--text-accent);
}
